.container {
    width: 900px;
    height: 550px;
    margin: 100px auto;
    background-color: #385A64;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 500px;
    height: 150px;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 200px; 
}
