.card{
    width: 350px;
    height: 250px;
    background-color: #385A64;
    margin-top: 80px;
    margin-left: 250px;
   
}
.title{
    width: 350px;
    height: 60px;
    background-color: #334F57;
    margin-top: 100p;
}